<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
  <appSettings>
    <add key="DatabaseInitializerForType QuestRoomCatalog.DataLayer.Model1, QuestRoomCatalog.DataLayer"
        value="QuestRoomCatalog.DataLayer.Initializer, QuestRoomCatalog.DataLayer"/>
  </appSettings>
  
  <connectionStrings>
   
    <add name="Model1" connectionString="Server=tcp:questroom88.database.windows.net,1433;Initial Catalog=QuestRoomCatalog20191029125417;Persist Security Info=False;User ID=Seda;Password=Qwert12345;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=sedaexamstorage;AccountKey=1dihbHUmvbKJGGBQtBQkXIXvI+kD3SY84+DiQo7L2VhL2i66BYJM5CQINe39okR2zQooQZdS3X7Bjde15sWsCQ==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

</configuration>
